@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,00;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: 'Fira Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  position: relative;
}

:root {
  --green: #27ae60;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0 5rem 1.5rem rgba(134, 134, 134, 0.048);
  --blue: #0000ff;
  --darkblack: #060606;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 4rem 9%;
}

section:nth-child(even) {
  background: #ffffff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--green);
  border-radius: .5rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--blue);
  letter-spacing: .1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 1rem 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.logo {
  position: relative; 
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2.9rem;
  font-weight: bolder;
}

.logo span {
  color: #0000a4;
}

.logo img {
  position: relative;   
  left: 0;  
  top: 0; 
  width: 60px;
  height: auto;
  margin-right: 10px;
}

header .navbar a {
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding: 1rem 2.2rem;
  color: var(--black);
}

header .navbar a:active,
header .navbar a:hover {
  color: #fff;
  background: var(--blue);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #fff;
}

header .icons i:hover,
header .icons a:hover {
  color: #0000a0;
  background: #fff;
  transform: rotate(360deg);
}

header .icons #menu-bar {
  display: none;
}

#search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  display: none; 
}
z
#search-form.active {
  display: flex; 
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form #search-btn {
  border: none;
  background: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

#search-form #search-btn:hover {
  color: var(--blue);
}

#search-form #close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form #close:hover {
  color: var(--blue);
}

.aboutus{
  background: #f7f7f7;
  position: relative;
  text-align: center;
}
.aboutus .heading{
  font-size:2.9rem;
}
.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: space-between;
}

.col {
  flex-basis: 50%;
  padding: 3px;
}

.aboutus .row .col img{
 width: 100%;
 height: auto;
}

.row .col h1{
  text-align: justify;
  font-size: 2.9rem;
  color:#0000a4;
}

